body {
  font-family: verdana, sans-serif;
  font-size: 1.5em;
  text-align: left;
  
}

h1{
  font-family: monospace, sans-serif;
  font-size: 1.5em;
  color: #334965;
  text-align: left;

}

mark {
  background:#B4CCEC
}

label {
  margin: 25px 5px;
}

#remove_items {
  background-color : #E5E5E5;
  color: #302B29;
  padding:30px;
  
}

#add_btn {
  background-color : #B4CCEC;
  color: #302b29;
  font-weight: bold;
  border-radius: 20px;
  border:2px solid white;
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
  
}

#remove_btn {
  background-color : lightgray;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  border:2px solid white;
  padding: 10px 15px;
  margin: 15px;

}

select{
  font-family:"Georgia, sans-serif";
  font-size: 0.85em;
  text-align:center;
  width:200px;
  margin: 50px 10px;
  padding: 5px 0;
  border: 2px solid dark gray;
  
}

#add_btn:hover {
  background-color: #334965;
  color:white;
}

#add_item{
  font-family:"Georgia, sans-serif";
}

.center {
  margin: auto;
  width: 50%;
}