/* Main body text styling */
body {
  font-family: verdana, sans-serif;
  font-size: 1.5em;
  text-align: left;
  
}
/* Todo list heading styling */
h1{
  font-family: monospace, sans-serif;
  font-size: 1.5em;
  color: #334965;
  text-align: left;

}

/* Suggestions heading styling */
h2{
  font-family: monospace, sans-serif;
  font-size: 1.5em;
  color: #334965;
  text-align: left;
  margin-bottom: 0;
  line-height: 0;
}


/* Highlighted "To-Do" text background */
mark {
  background:#B4CCEC
}

/* Task label spacing */
label {
  margin: 25px 5px;
}

/* TODO LIST CONTAINER STYLING */

/* Gray container holding the todo list */
#remove_items {
  background-color : #E5E5E5;
  color: #302B29;
  padding:30px;
  
}

#suggestions {
  padding:30px;
}

/* BUTTON STYLING */
/* Plus button to add new tasks */
#add_btn {
  background-color : #B4CCEC;
  color: #302b29;
  font-weight: bold;
  border-radius: 20px;
  border:2px solid white;
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
  
}
/* Done button to complete tasks */
#remove_btn {
  background-color : lightgray;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  border:2px solid white;
  padding: 10px 15px;
  margin: 15px;

}


/* DROPDOWN MENU STYLING */

/* Dropdown for selecting wellbeing tasks */
select{
  font-family:"Georgia, sans-serif";
  font-size: 0.85em;
  text-align:center;
  width:200px;
  margin: 50px 10px;
  padding: 5px 0;
  border: 2px solid dark gray;
  
}

/* Plus button hover colour change */
#add_btn:hover {
  background-color: #334965;
  color:white;
}

/* Dropdown */
#add_item{
  font-family:"Georgia, sans-serif";
}

